@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ComputerServicesWeb.Models.ServicesModel>
@{
    ViewBag.Title = "GetAllServices";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="~/Content/assets/css/CardsStyle.css" rel="stylesheet" />




<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Default</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Dashboards</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->

    </div>
    <!--end::Toolbar container-->
</div>



<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <div class="product-section" style="background-color: white;">
            <section class="container">
                <div class="row">
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="card">
                                <div class="inner-card">
                                    <div class="img-wrapper">
                                        <img src="@item.PicturePath" alt="">
                                    </div>
                                    <div class="content">
                                        <h1 class="card-heading">@item.Name</h1>
                                        <p><b>Description</b></p>
                                        <ul id="" class="highlights text-left hidden-xs">
                                            <li>@item.Description</li>
                                        </ul>
                                    </div>
                                    <div class="btn-wrapper">
                                        <button class="view-btn" data-bs-toggle="modal" data-bs-target="#kt_modal_Service_Description" onclick="loadDescription('@item.Description')">More Detail</button>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_Update_Service" onclick="EditRecord(@item.id)"><svg width="24" stroke-width="1.5" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M20 12V5.74853C20 5.5894 19.9368 5.43679 19.8243 5.32426L16.6757 2.17574C16.5632 2.06321 16.4106 2 16.2515 2H4.6C4.26863 2 4 2.26863 4 2.6V21.4C4 21.7314 4.26863 22 4.6 22H11" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" /> <path d="M8 10H16M8 6H12M8 14H11" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" /> <path d="M16 5.4V2.35355C16 2.15829 16.1583 2 16.3536 2C16.4473 2 16.5372 2.03725 16.6036 2.10355L19.8964 5.39645C19.9628 5.46275 20 5.55268 20 5.64645C20 5.84171 19.8417 6 19.6464 6H16.6C16.2686 6 16 5.73137 16 5.4Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" /> <path d="M17.9541 16.9394L18.9541 15.9394C19.392 15.5015 20.102 15.5015 20.5399 15.9394V15.9394C20.9778 16.3773 20.9778 17.0873 20.5399 17.5252L19.5399 18.5252M17.9541 16.9394L14.963 19.9305C14.8131 20.0804 14.7147 20.2741 14.6821 20.4835L14.4394 22.0399L15.9957 21.7973C16.2052 21.7646 16.3988 21.6662 16.5487 21.5163L19.5399 18.5252M17.9541 16.9394L19.5399 18.5252" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" /></svg></a>
                                        <a href="#" onclick="DeleteRecord(@item.id)"><svg width="24" stroke-width="1.5" height="32" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" /> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" /> </svg></a>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <h4>No Record Found!</h4>
                    }
                </div>
            </section>
        </div>


        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>


@* Modal for ServiceDescription *@
<div class="modal fade" id="kt_modal_Service_Description" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header">
                <!--begin::Modal title-->
                <h2>Used Machine Details</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <!--begin::Form-->
                <form id="kt_modal_new_card_form" class="form" action="#">
                    <!--begin::Input group-->
                    <div>
                        <h2 id="desc"></h2>
                    </div>
                    <!--end::Input group-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>

@* Modal for Update Service*@
<div class="modal fade" id="kt_modal_Update_Service" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header">
                <!--begin::Modal title-->
                <h2>Update Used Machine</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <!--begin::Form-->
                <form id="kt_modal_new_card_form" class="form" action="#">
                    <div class="row fv-row">
                        <div class="col-6">
                            <label for="ServiceName" class="form-label">Service Name:</label>
                            <input type="text" class="form-control form-control-solid" placeholder="" id="ServiceName" />
                        </div>
                        <div class="col-6">
                            <label for="ArabicServiceName" class="form-label">:اسم الخدمة</label>
                            <input type="text" class="form-control form-control-solid" placeholder="" id="ArabicServiceName" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="SelectPicture" class="form-label">Upload Picture:</label>
                        @Html.TextBox("file", "", new { type = "file", @class = "form-control", id = "SelectPicture" })
                    </div>

                    <div class="row fv-row">
                        <div class="col-6">
                            <label for="OtherInfo" class="form-label">Other Information:</label>
                            <input type="text" class="form-control form-control-solid" placeholder="" maxlength="50" id="ServiceDescription" />
                            <input type="hidden" id="postid">
                            <input type="hidden" id="ExistingPicture">
                        </div>
                        <div class="col-6">
                            <label for="ArabicServiceDescription" class="form-label">:وصف الخدمات</label>
                            <input type="text" class="form-control form-control-solid" placeholder="" maxlength="50" id="ArabicServiceDescription" />

                        </div>
                    </div>

                    <div class="text-center pt-15">
                        <button type="reset" id="kt_modal_new_card_cancel" class="btn btn-light me-3">Discard</button>
                        <a class="btn btn-primary" href="#" id="UpdateRecord">Update Details</a>
                    </div>

                </form>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>


@Html.PagedListPager(Model, pageNumber => Url.Action("GetAllServices", new
{
 pageNumber
 }))


@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")

<script>
    function loadDescription(description) {
        $("#desc").html(description);
    }


    //For Get  Record
    function EditRecord(service_ID) {
        debugger;
        var url = "/UsedMachines/GetServiceById?service_ID=" + service_ID;

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#postid").val(obj.id);
                $("#ServiceName").val(obj.Name);
                $("#ServiceDescription").val(obj.Description);
                $("#ArabicServiceName").val(obj.ArabicName);
                $("#ArabicServiceDescription").val(obj.ArabicDescription);
                $("#ExistingPicture").val(obj.PicturePath);

            }
        })
    }

    //For Update  Record
    $("#UpdateRecord").click(function () {
        debugger;
        var formData = new FormData();
        var data = {
            id: $('#postid').val(),
            Name: $('#ServiceName').val(),
            Description: $('#ServiceDescription').val(),
            ArabicName: $('#ArabicServiceName').val(),
            ArabicDescription: $('#ArabicServiceDescription').val(),
            existingpicturepath: $('#ExistingPicture').val(),
        }

        formData.append("data", JSON.stringify(data));

        var file = document.getElementById('SelectPicture').files[0];
        formData.append("file", file);

        $.ajax({
            type: "POST",
            url: "/UsedMachines/UpdateService",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (result) {
                alert("Successfully Updated....");
                location.reload();
                $("#kt_modal_Update_Service").modal("hide");
            }
        })
    })

    //For Delete  Record
    function DeleteRecord(service_ID) {
        debugger;
        var url = "/UsedMachines/ServiceDelete?service_ID=" + service_ID;

        $.ajax({
            type: "POST",
            url: url,
            success: function (result) {
                alert("Post Deleted Successfully....");
                location.reload();
            }
        })
    }

</script>
@Scripts.Render("~/Content/assets/js/pagination.js")

